@page "/Details/{Symbol}"

@using System.Net.Http
@using System.Text.Json
@using System.Linq
<PageTitle>Details</PageTitle>



<div id="cont_info">
    <div  id="searchD">
        <input type="text" @bind="Symbol" placeholder="GOOG" />
        <button @onclick="Search">Pesquisar</button>
    </div>

        <div class="btns">
            <button @onclick="FilterByMaiorClose">Maior Close</button>
            <button @onclick="FilterAllData">Todos os dados</button>
            <button @onclick="FilterByMaiorOpen">Maior Open</button>
            <button @onclick="FilterByMaisAntiga">Mais antiga</button>
            <button @onclick="FilterByMaisBaixa">Mais baixa</button>
        </div>
   
     

     @if (datas != null)
        {
        @if (datas.Count > 0)
        {
            var firstData = datas[0];

            <div class="header_info">
                <h1>@firstData.MetaData.Symbol</h1>
                <h3>@firstData.MetaData.LastRefreshed</h3>
                <button type="button" @onclick="AddSymbolToWallet" style="background-color:#DEA247">Adicionar na carteira</button>
            </div>
        }
        <div id="SaveDetails">
            @if(saveAc == true)
            {
                <h3>Salvo</h3>
            }
            

        </div>
        @if (!showFilteredData)
        {
            @if (datas.Count > 12)
            {
                @foreach (var data in datas.Take(12))
                {
                    <div class="infos">
                        @foreach (var item in data.TimeSeries.Take(12))
                        {
                            <div id="titulo">
                                <h3>@item.Key</h3>
                            </div>
                            <div id="dados">
                                <ul>
                                    <li>Open: @item.Value.Open</li>
                                    <li>High: @item.Value.High</li>
                                    <li>Low: @item.Value.Low</li>
                                    <li>Close: @item.Value.Close</li>
                                </ul>
                            </div>
                        }
                    </div>
                    <br /> 
                }
            }
            else
            {
                @foreach (var data in datas)
                {
                    <div class="infos">
                        @foreach (var item in data.TimeSeries.Take(12))
                        {
                            <div id="titulo">
                                <h3>@item.Key</h3>
                            </div>
                            <div id="dados">
                                <ul>
                                    <li>Open: @item.Value.Open</li>
                                    <li>High: @item.Value.High</li>
                                    <li>Low: @item.Value.Low</li>
                                    <li>Close: @item.Value.Close</li>
                                </ul>
                            </div>
                        }
                    </div>
                    <br /> 
                }
            }
     }
    }

    @if (showFilteredData && filteredData != null && filteredData.Any())
    {
        <div class="data-list">
            @foreach (var kvp in filteredData)
            {
                <div class="infos">
                    <h3>@kvp.Key</h3>
                    <ul>
                        <li>Open: @kvp.Value.Open</li>
                        <li>High: @kvp.Value.High</li>
                        <li>Low: @kvp.Value.Low</li>
                        <li>Close: @kvp.Value.Close</li>
                    </ul>
                </div>
                <br />
            }
        </div>
    }


</div>