@page "/edituser"
@using System.Net.Http
@using System.Text.Json
@using Bank.Client.Services;
@inject HttpClient httpClient
@using Bank.Shared

@inject Blazored.LocalStorage.ILocalStorageService localStore


    <div class="central">
        <form Model="@User">
            <h1>Editar</h1>
        <div class="form-group">
            <label for="exampleInputName">Nome</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Nome" @bind="@User.FirstName">
            <small class="text-danger">@firstNameValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputLastName">Apelido</label>
            <input type="text" class="form-control" id="exampleInputLastName" placeholder="Apelido" @bind="@User.LastName">
            <small class="text-danger">@lastNameValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" @bind="@User.Email">
            <small class="text-danger">@emailValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="@User.UPassword">
            <small class="text-danger">@passwordValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Repetir Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="@User.ConfirmPassword">
            <small class="text-danger">@confirmPasswordValidationMessage</small>
        </div>
     
            <button type="button" class="btn btn-outline-success btn-lg btn-block" @onclick="Edit">Salvar </button>
            <button type="button" class="btn btn-outline-danger btn-lg btn-block" @onclick="Del">Deletar </button>

        @if (showError)
        {
            <div class="alert alert-danger mt-3" role="alert">
                Por favor, corrija os erros acima antes de enviar o formulário.
            </div>
        }
        </form>
    </div>

