@page "/Register"
@using System.Net.Http
@using System.Text.Json
@using Bank.Client.Services;
@inject HttpClient httpClient
@inject IUserDataService UserDataService
@inject IWalletService WalletService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Bank.Shared


    <div class="central">
    <form Model="@User" id="reg" class="@GetRegStyle()">
        <h3>Registar</h3>
        <div class="form-group">
            <label for="exampleInputName">Nome</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Primeiro nome (Letara maiuscula)" @bind="@User.FirstName">
            <small class="text-danger">@firstNameValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputLastName">Apelido</label>
            <input type="text" class="form-control" id="exampleInputLastName" placeholder="Ultimo nome (Letara maiuscula)" @bind="@User.LastName">
            <small class="text-danger">@lastNameValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email@gmail.com" @bind="@User.Email">
            <small class="text-danger">@emailValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="6 caracteres, pelo menos 1 letra, 1 número e 2 caracteres especiais" @bind="@User.UPassword">
            <small class="text-danger">@passwordValidationMessage</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Repetir Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repita a paasword" @bind="@User.ConfirmPassword">
            <small class="text-danger">@confirmPasswordValidationMessage</small>
        </div>
        <div class="form-group">
            <label>Nome da carteira</label>
            <input type="text" class="form-control" placeholder="Wallet name" @bind="@Wallet.WalletName">
            <small class="text-danger">@walletNameValidationMessage</small>
        </div>
        @if (showError)
        {
            <div class="alert alert-danger mt-3" role="alert">
                Por favor, corrija os erros acima antes de enviar o formulário.
            </div>
        }
        <button type="button" class="btn btn-outline-success btn-lg btn-block" @onclick="HandleValidSubmit">Save User</button>
    
    </form>

    </div>

