@page "/Register"
@using System.Net.Http
@using System.Text.Json
@using Bank.Client.Services;
@inject HttpClient httpClient
@inject IUserDataService UserDataService

@using Bank.Shared


    <div class="central">
        <form Model="@User">
            <h1>Registar</h1>
            <div class="form-group">
                <label for="exampleInputName">Nome</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Nome" @bind="@User.FirstName">
                <small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputLastName">Apelido</label>
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="emailHelp" placeholder="Apelido" @bind="@User.LastName">
                <small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" @bind="@User.Email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="@User.UPassword">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"> Repetir Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="@User.ConfirmPassword">
            </div>

            <button type="button" class="btn btn-outline-success btn-lg btn-block" @onclick="HandleValidSubmit">Save User</button>
        </form>
    </div>

